<!--
  Generated template for the ModalAddCategoriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
        <button ion-button icon-only (click)="this.navCtrl.pop();">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Agregar a rúbrica</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
    Añade {{this.texto}} a tu rúbrica.
  </p>

  <ion-list>
    <ion-item *ngIf='completo'>
      <ion-label color="primary" floating>Nombre categoría</ion-label>
      <ion-input [(ngModel)]='this.nomcat'></ion-input>
    </ion-item>

    <ion-item *ngIf='completo'>
      <ion-label color="primary" fixed>Peso(%)</ion-label>
      <ion-input [(ngModel)]='this.pescat' type="number" max='100' min='1' placeholder="25">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Nombre elemento</ion-label>
      <ion-input [(ngModel)]='this.nomele'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Peso(%)</ion-label>
      <ion-input [(ngModel)]='this.pesele' type="number" max='100' min='1' placeholder="25">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Nivel 1 (1-2)</ion-label>
      <ion-textarea [(ngModel)]='this.niv1' placeholder="Enter a description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Nivel 2 (2-3)</ion-label>
      <ion-textarea [(ngModel)]='this.niv2' placeholder="Enter a description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Nivel 3 (3-4)</ion-label>
      <ion-textarea [(ngModel)]='this.niv3' placeholder="Enter a description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Nivel 4 (4-5) </ion-label>
      <ion-textarea [(ngModel)]='this.niv4' placeholder="Enter a description"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button block outline *ngIf='!this.completo' (click)='agregarElemento()'> Agregar elemento </button>
  <button ion-button block outline *ngIf='this.completo' (click)='agregarFilaCompleta()'> Agregar categoría </button>
</ion-content>
